html, body {
  height: 100%;
  width: 100%;
	margin:0%;
	background-color:black;
}
#main_frame
{
	display: grid;
  grid-template-columns: 47% 25% 25%;
  gap: 10px 10px;
	height: 100%;
  width: 100%;
	margin: 0px;
	/*border: 6px dashed;
	border-radius: 6px;
	border-color: #63ffd6;
	background-color: rgba(188, 255, 242, 0.3);
	*/
}
#main_frame: :first-child{
	align-self: center;
}
#shop_frame
{
	display: grid;
  grid-template-columns:70% 30%; 
	
  align-items: right;
	font-size: 20px;
	font-family: monospace;
	height: 98%;
  width: 98%;
	border: 6px dashed;
	border-radius: 6px;
	border-color: #ff7070;
	background-color: rgba(255, 148, 148, 0.3);
	
}
#shop_frame img{
	border:5px solid #000000;
	background-color: #ffffff;
	border-radius:15%;
	margin-top:5%;
	margin-right:10%;
}
#shop_frame h2{
	color:#fd4949;
}
.s_frame
{
	height: 90%;
  width: 98%;
	border: 6px dashed;
	border-radius: 6px;
	border-color: #dfff3d;
	background-color: rgba(218, 228, 31, 0.8);
	font-family:monospace;
	font-size: 20px;
	
}
.s_frame button
{
	margin: 5%;
	border-radius: 6px;
	border-width: 6px;
	font-size: 20px;
	font-family: monospace;
	text-align: center;
}
#stat_frame
{
	height: 90%;
  width: 98%;
	border: 6px dashed;
	border-radius: 6px;
	border-color: #86f48d;
	background-color: rgba(30,250,80,0.71);
	font-family:monospace;
	font-size: 20px;
}
#stat_frame h2{
	color: #144d37ff
}
h2
{
	font-size: 95%;
}
#click_frame
{
	display: grid;
	grid-template-columns: 10vw 10vw;
	grid-template-rows: 10vw 10vw;
	grid-gap: 1vw;
	height: 98%;
  width: 98%;
	border: 6px dashed;
	border-radius: 6px;
	border-color: #57aeff;
	background-color: rgba(73, 162, 255, 0.3);
}
.click_button
{
	padding:0%;
	margin: 5%;
	border-width: 6px;
	border-radius: 6px;
	width: 10vw;
	height: 10vw;
}
.click_button img
{
	width: 8vw;
	height: 8vw;
}
button:active{
	background-color: #94ff94;
	border-radius: auto;
}
.shop{
	margin-top:5%;
	font-size: 15px;
	font-family: monospace;
	text-align: center;
	width:90%;
	height:80%;
	border-width: 3px;
	border-radius: 6px;
}
#side_button:active
{
	background-color: rgba(255, 161, 161, 0.5);
}

#sides
{
	user-select: none;
	font-size: 50px;
	font-family: monospace;
	height:1.2em;
	animation: lightUp 1s infinite;
	animation-play-state:paused;
	color: white;
}
@keyframes lightUp {
  	0%{background-color:transparent;}
		8%{background-color:#94ff94;}
    20%{background-color:transparent;}
    100%{background-color:transparent;}
		}
#progress
{
	border: 4px solid white;
	border-radius: 6px;
	width:98%;
	height:30px;
	display: none;
}
#bar
{
	background-color: rgba(61, 255, 95, 0.5);
	width: 70%;
	height: 100%;
	animation: loading 1s infinite;
	animation-play-state: paused;
}
@keyframes loading
{
	0%{width: 0%;}
	100%{width: 100%;}
}
#messageBg
{
	display: none;
	margin: 0px;
	width:100%;
	height:100%;
	position:fixed;
	background-color: rgba(0, 0, 0, 0.7);
}
.container
{
	margin:0%;
	width:100%;
	height:100%;
	display: flex;
  justify-content: center;
  align-items: center;
}
#message
{
	font-family: monospace;
	text-align: center;
	width: 30%;
  height: 30%;
  background-color: #8a8a8a;
	border: 6px solid #383838;
	border-radius: 6px;
}
#message button
{
	border:3px solid black;
	border-radius:6px;
}

